# Python Distribution Package Requirements for AIS Cursor Target Gateway.
#
# Source:: https://github.com/ampledata/aiscot
# Author:: Greg Albrecht <oss@undef.net>
# Copyright:: Copyright 2023 Greg Albrecht.
# License:: Apache License, Version 2.0
