# Python Distribution Package Requirements for AIS Cursor-on-Target Gateway.
#
# Source:: https://github.com/ampledata/aiscot
# Author:: Greg Albrecht W2GMD <oss@undef.net>
# Copyright:: Copyright 2022 Greg Albrecht.
# License:: Apache License, Version 2.0
