# aiscot.service from https://github.com/snstac/aiscot
#
# aiscot service for systemd
#
# Copyright Sensors & Signals LLC https://www.snstac.com/
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[Unit]
Description=AISCOT: Display Ships in TAK - AIS to TAK Gateway.
Documentation=https://github.com/snstac/aiscot
Wants=network.target
After=network.target

[Service]
User=aiscot
ExecStart=/usr/bin/aiscot
RuntimeDirectory=aiscot
SyslogIdentifier=aiscot
EnvironmentFile=-/etc/aryaos/aryaos-config.txt
EnvironmentFile=/etc/default/aiscot
Type=simple
Restart=always
RestartSec=20
StartLimitInterval=1
StartLimitBurst=100
RestartPreventExitStatus=64
Nice=-1

[Install]
WantedBy=default.target
